var isNull = function (str) {
  if (str == undefined || str == null || str == '' || str == "undefined") {
    return true;
  } else if (Array.prototype.isPrototypeOf(str) && str.length === 0) {
    return true;
  }
  return false;
}

var tablebol = function (itm, item, idx) {
  var lastitm = item.new_table[idx + 1].merge;

  if ((itm == lastitm) && itm != null) {
    return true
  }
  return false
}
var mergeblock = function (itm, item, idx) { 
  // console.log(itm)
  // console.log(item)
  // console.log(idx)
  var lastitm = idx != item.new_table.length - 1 ? item.new_table[idx + 1].merge : '';
  var bfitem = idx != 0 ? item.new_table[idx - 1].merge : '';

  if ((itm == lastitm) && itm != bfitem && itm != null) {
    return "true"
  } else if (itm != null) {
    return ''
  } else {
    return "false"
  }
}
var mergeheight = function (item) {
  return ((item.split('-')[2]) * 31)
}
// itm.status !=0 (-1 未开放 10已占场，999过时间)(type :0非散客 1散客)
var typecolor = function(status,type){
  if(type ==1){
    if(status != 0 && status != 999){
      return 'disablecolor'
    }else{
      return 'guestcolor'
    }
  }else{
    if(status != 0){
      return 'disablecolor'
    }else{
      return ''
    }
  }

}

var formatDistant = function(str){
  // if(str<999){
  //   return ((str/1).toFixed(2)) + 'm'
  // }
  // if(str > 999){
    return ((str/1000).toFixed(2)) + 'km'
  // }
}
var formatTime = function(str){
 return str.substring(5).replace(getRegExp('-','g'),'/')
}

module.exports = {
  tablebol: tablebol,
  mergeblock: mergeblock,
  mergeheight: mergeheight,
  typecolor:typecolor,
  formatDistant:formatDistant,
  formatTime:formatTime

}